{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">{{ title }}</h1>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div class="mb-3">
        <label class="form-label">{{ form.description.label }}</label>
        {{ form.description }}
        {{ form.description.errors }}
    </div>

    <div class="mb-3">
        <label class="form-label">{{ form.project_type.label }}</label>
        {{ form.project_type }}
        {{ form.project_type.errors }}
    </div>

    <button type="submit" class="btn btn-primary">
        Сохранить
    </button>

    <a href="{% url 'project_list' %}" class="btn btn-secondary">
        Отмена
    </a>
</form>
{% endblock %}